.main {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center
}

.card {
    width: 450px;
    height: 650px;
    background-color:hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.card-qr__container {
    position: relative;
    height: 400px;
}

.card-qr {
    border-radius: 20px;
}

.card-info--container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
    font-size: large;
    gap: 30px;
}

.card-info--description {
    font-size: 15px;
    color: gray
}

@media (max-width: 500px) {
    .card-qr__container {
        height: 350px;
    }

    .card-info--description{
        font-weight: 400;
    }

    .card-info--title {
        font-size: 25px;
    }

    .card {
        height: 550px;
    }
}